# Ignore build directories
cmake-build-debug
cmake-build-release

# Ignore IDE settings that are user-specific
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/encodings.xml

# Ignore CMake-related files and directories
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Prerequisites
*.d