[submodule "extern/extern/glfw"]
	path = extern/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "extern/box2d"]
	path = extern/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "extern/aubio"]
	path = extern/aubio
	url = https://github.com/aubio/aubio.git
